<div local-class="logo">
  {{#link-to 'index'}}
    <img
      src="https://raisely-images.imgix.net/raisely-website-2019/uploads/logo-p-pdark-small-png-d4ab65.png?fit=max&w=1000&auto=format&q=62"
      alt="Raisely Logo">
  {{/link-to}}
</div>

<div local-class="nav">
  {{link-to 'Sign Up' 'signup'}}
  <a href="#">Log In</a>
</div>
