@value color: 'raisely-code-challenge/styles/color';

@value raiselyPurplePrimary, raiselyPurpleSecondary, red from color;
@value container-width: 50vw;
@value max-container-width: 400px;

.signup-panel {
  width: container-width;
  max-width: max-container-width;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.error-message {
  color: red;
  margin-top: 3px;
}

h1 {
  color: raiselyPurplePrimary;
  text-align: center;
}

.registration-success-container {
  width: container-width;
  max-width: max-container-width;
  margin: 50px auto;
  text-align: center;
}

input {
  font-size: 15px;
  padding: 3px;
}

input:focus {
  outline-color: raiselyPurplePrimary;
}

label {
  font-size: 13px;
  padding-bottom: 3px;
  margin-top: 10px;
}

button {
  background-color: raiselyPurplePrimary;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: none;
  margin: 10px 0;
}

button:hover {
  background-color: raiselyPurpleSecondary;
  cursor: pointer;
}

button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.subtext {
  font-size: 13px;
  text-align: center;
}
